spring:
  datasource:
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USER}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG # SQL 쿼리 보기
    org.hibernate.orm: TRACE # 파라미터 값까지 보기

management:
  endpoints:
    web:
      exposure:
        include: health, info
        # 외부에 공개할 엔드포인트 목록
        # health: 헬스 체크용
        # info: 앱 정보 (버전, 설명 등)
        # 다른 것들: metrics, env, loggers 등 (보안상 안 열림)

      base-path: /actuator
      # URL 시작 경로
      # /actuator/health, /actuator/info 이렇게 접근

  endpoint:
    health:
      show-details: always
      # 헬스 정보를 얼마나 자세히 보여줄지
      # never: {"status":"UP"} 만
      # always: DB상태, 디스크 등 다 보여줌
      # when-authorized: 인증된 사용자에게만 자세히
