server:
  servlet:
    session:
      timeout: 5m  # 5분 후 자동 만료

spring:
  config:
    activate:
      on-profile: local
    import:
      - classpath:application-prompts.yaml
  datasource:
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USER}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.H2Dialect
jwt:
  secret: ${JWT_SECRET}
  token-validity: ${JWT_TOKEN_VALIDITY}

logging:
  level:
    root: INFO
    com.fortunehub.luckylog: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{36}.%M - %msg%n"

gemini:
  api:
    key: ${GEMINI_API_KEY}
  model: gemini-2.5-flash