spring:
  datasource:
    url: ${PROD_DB_URL}
    username: ${PROD_DB_USER}
    password: ${PROD_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false

logging:
  level:
    root: WARN
    com.fortunehub.luckylog: INFO
  pattern:
    file: '%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}.%M - %msg%n'
  file:
    name: /home/deploy/logs/luckylog/luckylog.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      file-name-pattern: /home/deploy/logs/luckylog/luckylog-%d{yyyy-MM-dd}.%i.log

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never # 보안상 상세정보 숨김