spring:
  datasource:
    url: ${PROD_DB_URL}
    username: ${PROD_DB_USER}
    password: ${PROD_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false
  session:
    store-type: redis
    timeout: 30m
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

logging:
  level:
    root: WARN
    com.fortunehub.luckylog: INFO
    org.hibernate.SQL: WARN
    org.springframework.web: WARN
    org.springframework.security: WARN
  path: /home/deploy/logs

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never # 보안상 상세정보 숨김

springdoc:
  swagger-ui:
    supportedSubmitMethods: [get] # get만 테스트 가능
