<header th:fragment="authButtons" class="auth-btn-container">
  <th:block sec:authorize="isAnonymous()">
    <a th:href="@{/signup}" href="/signup" class="auth-btn">가입하기</a>
    <a th:href="@{/login}" href="/login" class="auth-btn">입장하기</a>
  </th:block>

  <th:block sec:authorize="isAuthenticated()">
    <a th:href="@{/mypage}" href="/mypage" class="auth-btn disabled-btn">
      <span sec:authentication="principal.displayName">내 정보 보기</span>
    </a>
    <form action="/logout" th:action="@{/logout}" method="post">
      <button type="submit" class="auth-btn disabled-btn logout-btn">나가기</button>
    </form>
  </th:block>
</header>