.my-fortune-container {
  display: block;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 6px 12px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 0.8rem;
}

.my-fortune-title {
  color: #333;
  font-weight: 600;
  margin-bottom: 5px;
}

.my-fortune-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: #666;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-0 {
  margin-bottom: 0px;
}
