html {
	font-family: 'Apple SD Gothic Neo', Roboto, 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
	color: #000;
	line-height: 1.2;
	word-wrap: break-word;
}
body {
	-webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
	/* box-sizing: content-box */
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
a {
	display: inline-block;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer;
}

/* fortune-page-container */
.fortune-page-container {
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  padding: 10px 20px 20px 20px;
  width: 100vw;
  max-width: 350px;
  height: calc(100vh - 40px);
  min-height: calc(100vh - 40px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fortune-page-container::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #a8edea, #fed6e3);
  border-radius: 25px;
  animation: rainbow-border 3s linear infinite;
  z-index: -1;
}

@keyframes rainbow-border {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


/* emoji */
.float-emoji {
  position: fixed;
  font-size: 1.5rem;
  animation: float-emoji 3s ease-in-out infinite;
  pointer-events: none;
  z-index: 1;
}

.float-emoji:nth-child(1) {
  top: 15%;
  left: 8%;
  animation-delay: 0s;
}

.float-emoji:nth-child(2) {
  top: 25%;
  right: 12%;
  animation-delay: 1s;
}

.float-emoji:nth-child(3) {
  bottom: 35%;
  left: 10%;
  animation-delay: 2s;
}

.float-emoji:nth-child(4) {
  bottom: 20%;
  right: 8%;
  animation-delay: 3s;
}

.float-emoji:nth-child(5) {
  top: 60%;
  right: 15%;
  animation-delay: 1.5s;
}

@keyframes float-emoji {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(10deg);
  }
}


/* error */
.wiggle {
  animation: wiggle 0.3s ease-in-out;
}

@keyframes wiggle {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.jump {
  animation: jump 0.3s ease-in-out;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.error-message {
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
  background: linear-gradient(135deg, #ff6b6b, #ff8e8e);
  padding: 6px 0;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
