.user-selection-container {
  display: flex;
  gap: 5px;
}

.user-selection-container > p {
  flex-grow: 1;
}

.ai-selection-container {
  display: inline-flex;
  align-items: center;
  background: linear-gradient(135deg, #fd79a8, #fdcb6e);
  color: #fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.result-screen {
  min-height: 475px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
}

.fortune-title {
  margin-bottom: 10px;
}

.result-content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #666 transparent;
}

.fortune-sub-title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.fortune-content-container {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 15px 10px 5px 10px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #666 transparent;
}

.fortune-content {
  margin-bottom: 10px;
  font-size: 0.75rem;
  font-weight: 400;
}

.fortune-month {
  font-weight: 500;
}

.no-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-result-text {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.no-result-subtext {
  white-space: pre-line;
  font-size: 0.8rem;
  color: #666;
}
.action-button-container {
  margin-top: auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.action-btn {
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400;
  font-size: 0.75rem;
  color: #fff;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5px;
}

.action-btn:hover {
  transform: translateY(-2px);
}

.action-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  transition: left 0.3s;
}

.action-btn:hover::before {
  left: 100%;
}

.retry-btn {
  background: linear-gradient(135deg, #ffeaa7, #fdcb6e, #fab1a0, #ffe4b5);
}

.retry-btn:hover {
  box-shadow: 0 3px 0 #e17055;
}

.copy-btn {
  background: linear-gradient(135deg, #c7ceea, #a8c8ec, #87ceeb, #b0e0e6);
}

.copy-btn:hover {
  box-shadow: 0 3px 0 #74b9ff;
}

.share-btn {
  background: linear-gradient(135deg, #c3f0ca, #81ecec, #55efc4, #b2dfdb);
}

.share-btn:hover {
  box-shadow: 0 3px 0 #80cbc4;
}

.save-btn {
  background: linear-gradient(135deg, #dda0dd, #b19cd9, #a29bfe, #c8a2c8);
}

.save-btn:hover {
  box-shadow: 0 3px 0 #9575cd;
}
