body {
  background: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fecfef 25%,
    #fecfef 50%,
    #fad0c4 100%
  );
  padding: 20px 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.logo {
  margin-bottom: 15px;
  text-align: center;
  z-index: 1;
}

.logo h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  background: rgba(75, 0, 130, 0.4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.logo p {
  color: #666;
  font-size: 0.8rem;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.7);
  padding: 6px 0;
  border-radius: 10px;
}

.birth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.option-container {
  z-index: 1;
}

.option-title {
  display: block;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 500;
}

.option-content {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.option-gender-content {
  padding: 0 10px;
}

.option-content-item {
  width: 100%;
}

.option-content-item input[type="radio"] {
  display: none;
}

.option-btn {
  display: block;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400;
  font-size: 0.75rem;
  color: #666;
}

.option-gender-content-item label {
  border: 2px solid #ff6b6b;
}

.option-gender-content-item input[type="radio"]:checked + label {
  border-color: #ff7675;
  background: rgba(255, 118, 117, 0.3);
  color: #ff7675;
  transform: translateY(-2px);
  box-shadow: 0 3px 0 #ff7675;
}

.option-content-bg {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 15px 10px;
}

.option-calendar-content-item label {
  border: 2px solid #f1c40f;
}

.option-calendar-content-item input[type="radio"]:checked + label {
  border-color: #f39c12;
  background: rgba(241, 196, 15, 0.3);
  color: #f39c12;
  transform: translateY(-2px);
  box-shadow: 0 3px 0 #f39c12;
}

.option-input {
  width: 100%;
  text-align: center;
}

.option-input:focus {
  outline: none;
  transform: translateY(-2px);
}

.option-input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 0.75rem;
  color: #666;
}

.option-date-input {
  border: 2px solid #00b894;
  color: #00a085;
}

.option-date-input:focus {
  box-shadow: 0 3px 0 #00a085;
}

.option-time-input {
  border: 2px solid #0984e3;
}

.option-time-input:focus {
  box-shadow: 0 3px 0 #0652dd;
}

.option-city-input {
  border: 2px solid #a29bfe;
}

.option-city-input:focus {
  box-shadow: 0 3px 0 #9f69f8;
}

.next-btn-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.next-btn {
  width: 125px;
  background: linear-gradient(135deg, #e17055, #74b9ff, #a29bfe, #fd79a8);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 0 #d63031;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.next-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transition: left 0.6s;
}

.next-btn:hover::before {
  left: 100%;
}
