.signup-input {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding: 6px;
  color: #666;
  font-size: 0.75em;
  font-weight: 400;
  transition: all 0.3s ease;
}

.signup-input:focus {
  outline: none;
  transform: translateY(-3px);
}
