<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LUCKY LOG</title>
  <link rel="icon" href="../static/images/lucky-log-logo.png" th:href="@{/images/lucky-log-logo.png}">
  <link rel="stylesheet" href="../static/css/default.css" th:href="@{/css/default.css}">
  <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
  <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
  <script defer src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</head>

<body>

  <div class="float-emoji">🌈</div>
  <div class="float-emoji">💎</div>
  <div class="float-emoji">⭐</div>
  <div class="float-emoji">💖</div>
  <div class="float-emoji">✨</div>

  <div class="fortune-page-container">
    <div th:replace="~{fragments/header :: authButtons}"></div>

    <div class="logo">
      <h1>운 세</h1>
      <p>나만의 사주 보기 💖</p>
    </div>

    <!-- 폼을 서버로 POST 요청, Thymeleaf 객체 바인딩 -->
    <form class="form-container" action="/" th:action="@{/}" method="post" th:object="${birthInfoForm}">
      <!-- 성별 선택 -->
      <p class="form-option-title">👶성별</p>
      <div class="form-option-content option-gender-content">
        <div class="form-option-content-item option-gender-content-item" th:each="type : ${genderTypes}">
          <input type="radio" th:field="*{gender}" th:value="${type.name()}" />
          <label class="form-option-btn" th:for="${#ids.prev('gender')}"
            th:text="|${type.icon} ${type.displayName}|">🙋‍♀️
            여성</label>
        </div>
      </div>

      <!-- 생년월일 및 시간 -->
      <p class="form-option-title">🎂생년월일</p>
      <div class="option-content-bg">
        <!-- 양력/음력 선택 -->
        <div class="form-option-content">
          <div class="form-option-content-item option-calendar-content-item" th:each="type: ${calendarTypes}">
            <input type="radio" th:field="*{calendar}" th:value="${type.name()}">
            <label class="form-option-btn" th:for="${#ids.prev('calendar')}" th:text="${type.displayName}">양력</label>
          </div>
        </div>

        <!-- 년월일 입력 -->
        <div class="form-option-content">
          <input type="number" placeholder="연도" class="form-option-btn option-input option-date-input"
            th:errorclass="jump" th:field="*{year}" th:min="${minYear}" th:max="${maxYear}">
          <input type="number" placeholder="월" class="form-option-btn option-input option-date-input"
            th:errorclass="jump" th:field="*{month}" min="1" max="12">
          <input type="number" placeholder="일" class="form-option-btn option-input option-date-input"
            th:errorclass="jump" th:field="*{day}" min="1" max="31">
        </div>

        <!-- 시간 및 도시 선택 -->
        <div class="form-option-content single">
          <select class="form-option-btn option-input option-time-input" th:field="*{time}">
            <option value="" selected hidden>태어난 시간 🕐</option>
            <option class="none-option" th:each="type : ${timeTypes}" th:value="${type.name()}"
              th:text="${type.displayName}">
              모름
            </option>
          </select>

          <select class="form-option-btn option-input option-city-input" th:field="*{city}">
            <option value="" selected hidden>태어난 도시 🏙️</option>
            <option th:each="type : ${cityTypes}" th:value="${type.name()}" th:text="${type.displayName}">
              모름
            </option>
          </select>
        </div>
      </div>

      <!-- 서버에서 전달된 에러 메시지들 표시 -->
      <div th:if="${#fields.hasErrors()}" data-error-container>
        <div th:each="err : ${#sets.toSet(#fields.errors('*'))}" th:text="${err}" class="error-message"
          data-error-message></div>
      </div>

      <div class="next-btn-container">
        <button type="submit" class="next-btn" data-submit-btn>🚀 다음 단계 →</button>
      </div>
    </form>
  </div>
</body>

</html>