<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LUCKY LOG</title>
  <link rel="icon" href="../static/images/lucky-log-logo.png" th:href="@{/images/lucky-log-logo.png}">
  <link rel="stylesheet" href="../static/css/default.css" th:href="@{/css/default.css}">
  <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
  <link rel="stylesheet" href="../static/css/signup.css" th:href="@{/css/signup.css}">
  <script src="../static/js/signup.js" th:src="@{/js/signup.js}" defer></script>
</head>

<body>

  <div class="float-emoji">🔓</div>
  <div class="float-emoji">🔑</div>
  <div class="float-emoji">🎉</div>
  <div class="float-emoji">💐</div>
  <div class="float-emoji">☀️</div>

  <div class="fortune-page-container">
    <div th:replace="~{fragments/header :: authButtons}"></div>

    <div class="logo">
      <h1>회원 가입</h1>
      <p>회원 가입을 환영합니다 🎊</p>
    </div>

    <form class="form-container" action="/signup" th:action="@{/signup}" method="post" th:object="${signupForm}">
      <label class="form-option-title" for="email">📧 이메일</label>
      <input type="email" id="email" name="email" th:field="*{email}" class="signup-input"
        placeholder="lucky-log@email.com" required>

      <label class="form-option-title" for="password">🔒 비밀번호</label>
      <input type="password" id="password" th:field="*{password}" class="signup-input"
        placeholder="8-20자 사이의 영문 + 숫자 + 특수문자 조합" required>

      <label class="form-option-title" for="confirmPassword">🔐 비밀번호 확인</label>
      <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="signup-input"
        placeholder="동일한 비밀번호 입력" required>

      <label class="form-option-title" for="nickname">✒️ 닉네임</label>
      <input type="text" id="nickname" th:field="*{nickname}" class="signup-input" placeholder="솜사탕 구름" required>

      <div th:if="${#fields.hasErrors()}" data-error-container>
        <div th:each="err : ${#sets.toSet(#fields.errors('*'))}" th:text="${err}" class="error-message"
          data-error-message></div>
      </div>

      <div class="next-btn-container">
        <button type="submit" class="next-btn">🎊 가입하기 🎉</button>
      </div>
    </form>
  </div>
</body>

</html>